.container {
  background-color: var(--primary-dark-color);

  position: sticky;

  top: 0;

  z-index: 1;
}

.title {
  min-height: min-content;
}

.menu {
  color: var(--primary-white-color);

  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 2rem;

  margin: 0 auto;

  max-width: 120rem;
}

.menuList {
  background-color: var(--secondary-dark-color);

  height: calc(100% - (4rem + 1.5em));
  width: 100%;

  padding: 2rem;

  position: fixed;

  right: -100%;
  top: calc(4rem + 1.5em);

  transition: right 0.5s ease-in;
}

.menuList.show {
  right: 0;
}

.menuAnchor {
  display: inline-block;

  letter-spacing: 0.075em;

  padding: 1rem 1.5rem;

  text-transform: uppercase;

  width: 100%;
}

.menuIcon {
  height: 1.5em;
}

@media (min-width: 340px) {
  .menu {
    padding: 3rem;
  }

  .menuList {
    height: calc(100vh - (6rem + 1.5em));

    padding: 3rem;

    top: calc(6rem + 1.5em);
  }
}

@media (min-width: 768px) {
  .menu {
    gap: 3rem;

    justify-content: flex-start;
  }

  .menuList {
    background-color: transparent;

    display: flex;

    gap: 2rem;

    height: auto;
    width: auto;

    padding: 0;

    position: initial;
  }

  .menuItem:not(:last-child) {
    border: none;
  }

  .menuAnchor {
    display: inline;

    padding: 0;
  }

  .menuIcon {
    display: none;
  }
}
