:root {
  --border-radius: 0.5rem;

  --primary-dark-color: rgb(24, 24, 27);
  --secondary-dark-color: rgb(31, 31, 35);

  --primary-white-color: #f6f6f8;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
      rgba(38, 40, 40, 0.25) 0.1rem,
      transparent 0.1rem
    ),
    radial-gradient(rgba(67, 97, 238, 0.25) 0.1rem, transparent 0.1rem);
  background-position: 0 0, 2.5rem 2.5rem;
  background-size: 5rem 5rem;
  background-color: #f6f6f8;

  color: var(--primary-dark-color);

  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.01em;

  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

svg {
  width: auto;
}

button {
  border: none;

  cursor: pointer;

  font-weight: 500;

  padding: 1.5rem 2rem;
}

button:disabled {
  cursor: not-allowed;

  pointer-events: none;
}

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 340px) {
  body {
    font-size: 1.6rem;
  }
}
